.noteEditor {
    grid-area: main;
}

.titleArea {
    width: calc(100% - 20px);
    margin-bottom: 10px;
    padding: 10px 20px 10px 20px;
    border: 0;
    resize: none;
    font-family: inherit;
    font-size: 18px;
    color: #515151;
    border-radius: 10px;
}

.editorArea {
    border: 3px solid #ebebeb;
    padding: 10px 20px 10px 20px;
    width: calc(100% - 20px);
    min-height: 150px;
    resize: vertical;
    font-family: inherit;
    height: 100%;
    font-size: 18px;
}

.editorArea:focus, .titleArea:focus {
    outline: none;
}