.notesList {
    grid-area: main;
    padding: 0 20px;
    border-radius: 16px;
    min-height: 500px;
}
.addNote-button {
    width: 40px;
    height: 40px;
    color: white;
    background-color: #a6e4ff;
    border: 0;
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    display: block;
}
.addNote-button:hover {
    background-color: #98c2ff;
    cursor: pointer;
}
.addNote-button:focus {
    outline: none;
}