.notesList {
    grid-area: notes;
    padding: 10px 20px 0 20px;
    background-color: white;
    border-radius: 16px;
    min-height: 500px;
}
.addNote-button {
    padding: 5px 10px;
    color: black;
    background-color: #ebebeb;
    border: 0;
    border-radius: 10px;
    font-size: 24px;
    margin: 0 auto;
    display: block;
}
.addNote-button:hover {
    background-color: #cccccc;
    cursor: pointer;
}
.addNote-button:focus {
    outline: none;
}