.loginForm-wrapper {
    width: 100%;
}

.loginForm {
    border-radius: 20px;
    color: white;
    margin: 200px auto;
    background-color: #4c7ed8;
    width: 500px;
    height: 500px;
    text-align: center;
    padding-top: 20px;

    -webkit-box-shadow: 0px 10px 35px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 35px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 35px -8px rgba(0,0,0,0.75);
}

.input-wrapper {
    margin: 0 auto;
    width: 100%;
}

.input-field {
    width: calc(100% - 40px);
}