.loginForm-wrapper {
    width: 100%;
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

.loginForm {
    border-radius: 10px;
    border: 1px solid #e3e3e3;
    color: black;
    margin: 0 auto 20px auto;
    background-color: white;
    width: 400px;
    height: auto;
    padding: 10px 20px;
    text-align: center;

    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}

.input-element__wrapper {
    margin-top: 10px;
    margin-bottom: 10px;
}