.header {
    grid-area: header;
    padding-left: calc(20vw + 20px);
    margin: 10px 0;
}
.header a {
    text-decoration: none;
    color: #515151;
}
.header a:hover {
    color: black;
}
.header-title {
    display: inline-block;
    font-size: 24px;
}

.header-login {
    display: inline-block;
    float: right;
    padding-right: calc(20vw + 20px);
}