.header {
    grid-area: header;
    padding-left: calc(20vw + 20px);
    background-color: #4c7ed8;
    margin-bottom: 10px;
}
.header a {
    text-decoration: none;
    color: #e2e2e2;
}
.header a:hover {
    color: white;
}
.header-title {
    display: inline-block;
    font-size: 24px;
    line-height: 50px;
}

.header-login {
    display: inline-block;
    float: right;
    padding-right: calc(20vw + 20px);
}