@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
.app-content-wrapper {
    padding: 0;
}

.app-wrapper {
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 20vw 240px 1fr 20vw;
    grid-template-areas: "header header header header"
                         ". notes main .";
    font-size: 18px;
}

body {
    margin: 0 auto;
    padding-bottom: 50px;
    background-color: #ebebeb;
}
*, button {
    font-family: 'Nanum Gothic', sans-serif;
}