@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
.app-content-wrapper {
    padding: 0;
}

.app-wrapper {
    margin: 0 auto;
    width: 1080px;
    display: grid;
    grid-template-rows: 60px 1fr;
    grid-template-columns: 240px 1fr;
    grid-template-areas: "header header" "notes main";
    font-size: 18px;
}

body {
    margin: 0 auto;
    padding-bottom: 50px;
}
*, button {
    font-family: 'Nanum Gothic', sans-serif;
}