@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
.app-content-wrapper {
    padding: 0;
}

.app-wrapper {

}
*, button {
    font-family: 'Nanum Gothic', sans-serif;
}

body {
    background-color: #ebebeb;
}